In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('Tokyo.csv')
data.head(5)

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,197677,https://www.airbnb.com/rooms/197677,20240927024131,2024-09-27,city scrape,Oshiage Holiday Apartment,NaN,NaN,https://a0.muscache.com/pictures/38437056/d27f...,964081,...,4.83,4.55,4.80,M130003350,f,1,1,0,0,1.14
1,776070,https://www.airbnb.com/rooms/776070,20240927024131,2024-09-27,city scrape,Kero-kero house room 1,We have been in airbnb since 2011 and it has g...,We love Nishinippori because is nearer to Toky...,https://a0.muscache.com/pictures/efd9f039-dbd2...,801494,...,4.98,4.84,4.92,M130000243,f,1,0,1,0,1.79
2,905944,https://www.airbnb.com/rooms/905944,20240927024131,2024-09-27,city scrape,4F Spacious Apartment in Shinjuku / Shibuya Tokyo,NEWLY RENOVATED property entirely for you & yo...,Hatagaya is a great neighborhood located 4 min...,https://a0.muscache.com/pictures/miso/Hosting-...,4847803,...,4.92,4.80,4.80,Hotels and Inns Business Act | 渋谷区保健所長 | 31渋健生...,t,8,8,0,0,1.65
3,1016831,https://www.airbnb.com/rooms/1016831,20240927024131,2024-09-27,city scrape,5 mins Shibuya Cat modern sunny Shimokita,"Hi there, I am Wakana and I live with my two f...",The location is walkable distance to famous Sh...,https://a0.muscache.com/pictures/airflow/Hosti...,5596383,...,4.98,4.92,4.90,M130001107,f,1,0,1,0,1.92
4,1196177,https://www.airbnb.com/rooms/1196177,20240927024131,2024-09-27,city scrape,Stay with host Cozy private room Senju area,Ｓtay with host.We can help your travel.<br />B...,There are shopping mall near Senjuohashi stati...,https://a0.muscache.com/pictures/72890882/05ec...,5686404,...,4.91,4.73,4.81,M130007760,f,1,0,1,0,0.92

In [ ]:
#Identificar valores nulos por columna
# Configurar pandas para mostrar todas las filas
pd.set_option('display.max_rows', None)

# Calcular valores nulos y mostrar todas las filas
valores_nulos = data.isnull().sum()
valores_nulos
#Creamos un archivo csv para ver todas las columnas que tengan valores nulos
valores_nulos.to_csv('valores_nulos_completo.csv', index=True)

In [11]:
#Realizamos una copia del dataframe
data2=data.copy()

In [14]:
valores_nulos = data.isnull().sum().sum()
valores_nulos

np.int64(108524)

In [15]:
#Cuerta método de sustitucion de valores nulos
#Sustituir valores nulos por string en concreto DE LA VARIABLE "description"
data2["description"]= data2["description"].fillna("Description")
data2.to_csv("description.csv")

np.int64(108524)

In [16]:
valores_nulos = data2.isnull().sum().sum()
valores_nulos

np.int64(108159)

In [17]:
#Cuerta método de sustitucion de valores nulos
#Sustituir valores nulos por string en concreto DE LA VARIABLE "neighborhood_overview"
data2["neighborhood_overview"]= data2["neighborhood_overview"].fillna("Neighborhood Overview")
data2.to_csv("neighborhood_overview.csv")

In [18]:
valores_nulos = data2.isnull().sum().sum()
valores_nulos

np.int64(101105)

In [19]:
#Cuerta método de sustitucion de valores nulos
#Sustituir valores nulos por string en concreto DE LA VARIABLE "host_location"
data2["host_location"]= data2["host_location"].fillna("Host Location")
data2.to_csv("host_location.csv")

In [20]:
valores_nulos = data2.isnull().sum().sum()
valores_nulos

np.int64(95676)

In [21]:
#Cuerta método de sustitucion de valores nulos
#Sustituir valores nulos por string en concreto DE LA VARIABLE "host_about"
data2["host_about"]= data2["host_about"].fillna("Hello let's enjoying trip and local life!")
data2.to_csv("host_about.csv")

In [22]:
valores_nulos = data2.isnull().sum().sum()
valores_nulos

np.int64(89815)

In [23]:
#Eliminamos valores nulos de otros_medios
#Sustituir valores nulos con el valor no nulo más cercano siguiente.
data2["host_response_time"]= data2["host_response_time"].fillna(method="bfill")
data2.to_csv("host_response_time.csv")

C:\Users\carli\AppData\Local\Temp\ipykernel_1896\2732226174.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2["host_response_time"]= data2["host_response_time"].fillna(method="bfill")

In [24]:
valores_nulos = data2.isnull().sum().sum()
valores_nulos

np.int64(89202)

In [25]:
#Eliminamos valores nulos de otros_medios
#Sustituir valores nulos con el valor no nulo más cercano anterior.
data2["host_response_rate"]= data2["host_response_rate"].fillna(method="ffill")
data2.to_csv("host_response_rate.csv")

C:\Users\carli\AppData\Local\Temp\ipykernel_1896\2084874460.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2["host_response_rate"]= data2["host_response_rate"].fillna(method="ffill")

In [26]:
valores_nulos = data2.isnull().sum().sum()
valores_nulos

np.int64(88589)

In [27]:
#Eliminamos valores nulos de otros_medios
#Sustituir valores nulos con el valor no nulo más cercano anterior.
data2["host_acceptance_rate"]= data2["host_acceptance_rate"].fillna(method="ffill")
data2.to_csv("host_acceptance_rate.csv")

C:\Users\carli\AppData\Local\Temp\ipykernel_1896\4164662117.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2["host_acceptance_rate"]= data2["host_acceptance_rate"].fillna(method="ffill")

In [28]:
valores_nulos = data2.isnull().sum().sum()
valores_nulos

np.int64(88149)

In [29]:
#Cuerta método de sustitucion de valores nulos
#Sustituir valores nulos por string en concreto DE LA VARIABLE "host_is_superhost"
data2["host_is_superhost"]= data2["host_is_superhost"].fillna("f")
data2.to_csv("host_is_superhost.csv")

In [30]:
valores_nulos = data2.isnull().sum().sum()
valores_nulos

np.int64(86733)

In [89]:
#Cuerta método de sustitucion de valores nulos
#Sustituir valores nulos por string en concreto DE LA VARIABLE "host_neighbourhood"
data2["host_neighbourhood"]= data2["host_neighbourhood"].fillna("Host Neighbourhood")
data2.to_csv("host_neighbourhood.csv")

In [90]:
valores_nulos = data2.isnull().sum().sum()
valores_nulos

np.int64(0)

In [33]:
#Cuerta método de sustitucion de valores nulos
#Sustituir valores nulos por string en concreto DE LA VARIABLE "neighbourhood"
data2["neighbourhood"]= data2["neighbourhood"].fillna("Neighbourhood")
data2.to_csv("neighbourhood.csv")

In [34]:
valores_nulos = data2.isnull().sum().sum()
valores_nulos

np.int64(67591)

In [35]:
#Cuerta método de sustitucion de valores nulos
#Sustituir valores nulos por string en concreto DE LA VARIABLE "neighbourhood_group_cleansed"
data2["neighbourhood_group_cleansed"]= data2["neighbourhood_group_cleansed"].fillna("neighbourhoodGC")
data2.to_csv("neighbourhoodGC.csv")

In [36]:
valores_nulos = data2.isnull().sum().sum()
valores_nulos

np.int64(48855)

In [37]:
#Eliminamos valores nulos de bathrooms
#Sustituir valores nulos con media para bathrooms
data2["bathrooms"]=data2["bathrooms"].fillna(round(data["bathrooms"].median()))
data2.to_csv("bathrooms.csv")

In [38]:
valores_nulos = data2.isnull().sum().sum()
valores_nulos

np.int64(47031)

In [39]:
#Cuerta método de sustitucion de valores nulos
#Sustituir valores nulos por string en concreto DE LA VARIABLE "bathrooms_text"
data2["bathrooms_text"]= data2["bathrooms_text"].fillna("Bathrooms Text")
data2.to_csv("bathrooms_text.csv")

In [40]:
valores_nulos = data2.isnull().sum().sum()
valores_nulos

np.int64(47002)

In [41]:
#Eliminamos valores nulos de bedrooms
#Sustituir valores nulos con media para bedrooms
data2["bedrooms"]=data2["bedrooms"].fillna(round(data["bedrooms"].median()))
data2.to_csv("bedrooms.csv")

In [42]:
valores_nulos = data2.isnull().sum().sum()
valores_nulos

np.int64(46720)

In [43]:
#Eliminamos valores nulos de otros_medios
#Sustituir valores nulos con el valor no nulo más cercano anterior.
data2["beds"]= data2["beds"].fillna(method="ffill")
data2.to_csv("beds.csv")

C:\Users\carli\AppData\Local\Temp\ipykernel_1896\220963042.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2["beds"]= data2["beds"].fillna(method="ffill")

In [44]:
valores_nulos = data2.isnull().sum().sum()
valores_nulos

np.int64(44888)

In [46]:
#Eliminamos valores nulos de otros_medios
#Sustituir valores nulos con el valor no nulo más cercano anterior.
data2["price"]= data2["price"].fillna(method="ffill")
data2.to_csv("price.csv")

C:\Users\carli\AppData\Local\Temp\ipykernel_1896\2894815571.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2["price"]= data2["price"].fillna(method="ffill")

In [47]:
valores_nulos = data2.isnull().sum().sum()
valores_nulos

np.int64(43056)

In [48]:
#Eliminamos valores nulos de minimum_minimum_nights 
#Sustituir valores nulos con promedio para minimum_minimum_nights
data2["minimum_minimum_nights"]=data2["minimum_minimum_nights"].fillna(round(data["minimum_minimum_nights"].mean()))
data2.to_csv("minimum_minimum_nights.csv")

In [49]:
valores_nulos = data2.isnull().sum().sum()
valores_nulos

np.int64(43035)

In [50]:
#Eliminamos valores nulos de maximum_minimum_nights 
#Sustituir valores nulos con promedio para maximum_minimum_nights
data2["maximum_minimum_nights"]=data2["maximum_minimum_nights"].fillna(round(data["maximum_minimum_nights"].mean()))
data2.to_csv("maximum_minimum_nights.csv")

In [51]:
valores_nulos = data2.isnull().sum().sum()
valores_nulos

np.int64(43014)

In [52]:
#Eliminamos valores nulos de minimum_maximum_nights 
#Sustituir valores nulos con promedio para minimum_maximum_nights
data2["minimum_maximum_nights"]=data2["minimum_maximum_nights"].fillna(round(data["minimum_maximum_nights"].mean()))
data2.to_csv("minimum_maximum_nights.csv")

In [53]:
valores_nulos = data2.isnull().sum().sum()
valores_nulos

np.int64(42993)

In [54]:
#Eliminamos valores nulos de maximum_maximum_nights 
#Sustituir valores nulos con promedio para maximum_maximum_nights
data2["maximum_maximum_nights"]=data2["maximum_maximum_nights"].fillna(round(data["maximum_maximum_nights"].mean()))
data2.to_csv("maximum_maximum_nights.csv")

In [55]:
valores_nulos = data2.isnull().sum().sum()
valores_nulos

np.int64(42972)

In [56]:
#Eliminamos valores nulos de minimum_nights_avg_ntm 
#Sustituir valores nulos con promedio para minimum_nights_avg_ntm
data2["minimum_nights_avg_ntm"]=data2["minimum_nights_avg_ntm"].fillna(round(data["minimum_nights_avg_ntm"].mean()))
data2.to_csv("minimum_nights_avg_ntm.csv")

In [57]:
valores_nulos = data2.isnull().sum().sum()
valores_nulos

np.int64(42951)

In [58]:
#Eliminamos valores nulos de maximum_nights_avg_ntm 
#Sustituir valores nulos con promedio para maximum_nights_avg_ntm
data2["maximum_nights_avg_ntm"]=data2["maximum_nights_avg_ntm"].fillna(round(data["maximum_nights_avg_ntm"].mean()))
data2.to_csv("maximum_nights_avg_ntm.csv")

In [59]:
valores_nulos = data2.isnull().sum().sum()
valores_nulos

np.int64(42930)

In [60]:
#Cuerta método de sustitucion de valores nulos
#Sustituir valores nulos por string en concreto DE LA VARIABLE "calendar_updated"
data2["calendar_updated"]= data2["calendar_updated"].fillna(" Calendar Updated")
data2.to_csv("calendar_updated.csv")

In [61]:
valores_nulos = data2.isnull().sum().sum()
valores_nulos

np.int64(24194)

In [62]:
#Cuerta método de sustitucion de valores nulos
#Sustituir valores nulos por string en concreto DE LA VARIABLE "has_availability"
data2["has_availability"]= data2["has_availability"].fillna("f")
data2.to_csv("has_availability.csv")

In [63]:
valores_nulos = data2.isnull().sum().sum()
valores_nulos

np.int64(24090)

In [64]:
#Cuerta método de sustitucion de valores nulos
#Sustituir valores nulos por string en concreto DE LA VARIABLE "first_review"
data2["first_review"]= data2["first_review"].fillna("2040-01-01")
data2.to_csv("first_review.csv")

In [65]:
valores_nulos = data2.isnull().sum().sum()
valores_nulos

np.int64(21685)

In [66]:
#Cuerta método de sustitucion de valores nulos
#Sustituir valores nulos por string en concreto DE LA VARIABLE "last_review"
data2["last_review"]= data2["last_review"].fillna("2040-01-01")
data2.to_csv("last_review.csv")

In [67]:
valores_nulos = data2.isnull().sum().sum()
valores_nulos

np.int64(19280)

In [68]:
#Eliminamos valores nulos de review_scores_rating 
#Sustituir valores nulos con promedio para review_scores_rating
data2["review_scores_rating"]=data2["review_scores_rating"].fillna(round(data["review_scores_rating"].mean()))
data2.to_csv("review_scores_rating.csv")

In [69]:
valores_nulos = data2.isnull().sum().sum()
valores_nulos

np.int64(16875)

In [70]:
#Eliminamos valores nulos de review_scores_accuracy 
#Sustituir valores nulos con promedio para review_scores_accuracy
data2["review_scores_accuracy"]=data2["review_scores_accuracy"].fillna(round(data["review_scores_accuracy"].median()))
data2.to_csv("review_scores_accuracy.csv")

In [71]:
valores_nulos = data2.isnull().sum().sum()
valores_nulos

np.int64(14469)

In [72]:
#Eliminamos valores nulos de review_scores_cleanliness 
#Sustituir valores nulos con promedio para review_scores_cleanliness
data2["review_scores_cleanliness"]=data2["review_scores_cleanliness"].fillna(round(data["review_scores_cleanliness"].mean()))
data2.to_csv("review_scores_cleanliness.csv")

In [73]:
valores_nulos = data2.isnull().sum().sum()
valores_nulos

np.int64(12063)

In [74]:
#Eliminamos valores nulos de review_scores_checkin 
#Sustituir valores nulos con promedio para review_scores_checkin
data2["review_scores_checkin"]=data2["review_scores_checkin"].fillna(round(data["review_scores_checkin"].median()))
data2.to_csv("review_scores_checkin.csv")

In [75]:
valores_nulos = data2.isnull().sum().sum()
valores_nulos

np.int64(9657)

In [76]:
#Eliminamos valores nulos de review_scores_communication 
#Sustituir valores nulos con promedio para review_scores_communication
data2["review_scores_communication"]=data2["review_scores_communication"].fillna(round(data["review_scores_communication"].median()))
data2.to_csv("review_scores_communication.csv")

In [77]:
valores_nulos = data2.isnull().sum().sum()
valores_nulos

np.int64(7251)

In [78]:
#Eliminamos valores nulos de review_scores_location 
#Sustituir valores nulos con promedio para review_scores_location
data2["review_scores_location"]=data2["review_scores_location"].fillna(round(data["review_scores_location"].median()))
data2.to_csv("review_scores_location.csv")

In [79]:
valores_nulos = data2.isnull().sum().sum()
valores_nulos

np.int64(4845)

In [80]:
#Eliminamos valores nulos de review_scores_value 
#Sustituir valores nulos con promedio para review_scores_value
data2["review_scores_value"]=data2["review_scores_value"].fillna(round(data["review_scores_value"].median()))
data2.to_csv("review_scores_value.csv")

In [81]:
valores_nulos = data2.isnull().sum().sum()
valores_nulos

np.int64(2439)

In [82]:
#Cuerta método de sustitucion de valores nulos
#Sustituir valores nulos por string en concreto DE LA VARIABLE "license"
data2["license"]= data2["license"].fillna("license")
data2.to_csv("license.csv")

In [83]:
valores_nulos = data2.isnull().sum().sum()
valores_nulos

np.int64(2420)

In [84]:
#Eliminamos valores nulos de reviews_per_month 
#Sustituir valores nulos con promedio para reviews_per_month, con 2 decimales
data2["reviews_per_month"]=data2["reviews_per_month"].fillna(round(data["reviews_per_month"].mean(),2))
data2.to_csv("reviews_per_month.csv")

In [85]:
valores_nulos = data2.isnull().sum().sum()
valores_nulos

np.int64(15)

In [87]:
#Identificar valores nulos por columna
# Configurar pandas para mostrar todas las filas
pd.set_option('display.max_rows', None)

# Calcular valores nulos y mostrar todas las filas
valores_nulos = data2.isnull().sum()
valores_nulos
#Creamos un archivo csv para ver todas las columnas que tengan valores nulos
valores_nulos.to_csv('VN.csv', index=True)

In [ ]:
valores_nulos = data2.isnull().sum().sum()
valores_nulos